@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    background-color: #938ebe;
}

nav.main-nav {
    background-color: #48465c;
}

.main-nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    float: left;
    margin-left: 10%;
}

.main-nav li {
    float: left;
}

.main-nav li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 40px 26px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 25px;
}

.main-nav li a:hover {
    background-color: #2f2d3c;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-logo {
    float: left;
    margin: 10px 30px;
}

.main-slider {
    height: 400px;
    background: url(../img/slider1.png) 100% 100% no-repeat;
    background-size: cover;
}

.main-slider .slider-content {
    height: 400px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 1px;
    position: relative;
}

.main-slider .slider-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-menu {
    width: 900px;
    margin: 50px auto;
}

.console {
    display: inline-block;
    width: 600px;
    height: 300px;
    float: left;
}


.console.console1 {
    width: 300px;
    height: 600px;
    float: right;
    background: url(../img/console1.png) 100% 100% no-repeat;
}

.console.console2 {
    background: url(../img/console2.png) 100% 100% no-repeat;
}

.console.console3 {
    background: url(../img/console3.png) 100% 100% no-repeat;
}

.console.console4 {
    width: 900px;
    background: url(../img/console4.png) 100% 100% no-repeat;
}

.console:hover {
    background: rgba(0,0,0,.7);
}
.main-footer {
    height: 200px;
    background-color: #48465c;
}